# Environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
env.txt

# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Local data
storage.json

# OS files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
